.venv/
venv/
.env
.gitignore
.git/
__pyache__/
*pyc
*.py[cod]
*$py.class

Dockerfile
docker-compose*.yml
.dockerignore

# IDE / System files
.vscode/
.idea/
.DS_Store


# Testing & Coverage outputs
.pytest_cache/
.coverage
htmlcov/